{% extends "layout.html" %}


{% block title %}
About SagePad
{% endblock %}


{% block menu %}
<li><a href="{{ home_url }}">Back</a></li>
{% endblock %}


{% block content %}
<div id="about">
  
  <h1>About SagePad</h1>
  
  <p>
    The goal of SagePad is a fast way to just try out some Sage
    commands. For now, it is mostly a technology demo and a testbed to
    explore secure execution of arbitrary code that is submitted via
    the internet.
  </p>

  <p>
    SagePad lets you use <a href="http://www.sagemath.org">Sage</a> in
    your browser, no installation requried. It is inspired
    by <a href="http://www.codepad.org">codepad</a>, which lets you
    use a variety of programming languages (but not Sage, at least not
    yet).
  </p>
  
</div>
{% endblock %}
