<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"></script> 
    <script>window.jQuery || 
      document.write('<script src="{{ url_for('static', filename='js/jquery.js') }}">\x3C/script>')</script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" href="static/css/jquery-ui.css" />
    <link rel="stylesheet" href="static/css/menu.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>

    <script src="{{ url_for('static', filename='js/sagepad.js') }}" type="text/javascript">
      SagePad.setScriptRoot({{ request.script_root|tojson|safe }});
    </script>

    <ul id="menu">

      {% if logged_in %}
      <li><a href="/">File</a>
        <ul>
          <li><a href="#">Load</a></li>
          <li><a href="#" id="menu_save">Save</a></li>
        </ul>
      </li>
      {% else %}
      <li><a href="{{ login_url }}">File</a>
        <ul>
          <li><a href="{{ login_url }}">Login to save</a></li>
        </ul>
      </li>
      {% endif %}

      {% if menu_mode == "edit" %}
      <li><a href="#" id="evaluate">Run</a>
        <ul>
	  <li><a href="#" id="evaluate_sage">
	      <input type="radio" name="eval_radio" id="eval_radio_sage"/>Sage</a></li>
	  <li><a href="#" id="evaluate_python">
	      <input type="radio" name="eval_radio" id="eval_radio_python"/>Python</a></li>
	  <li><a href="#" id="evaluate_gap">
	      <input type="radio" name="eval_radio" id="eval_radio_GAP"/>GAP</a></li>
	  <li><a href="#" id="evaluate_singular">
	      <input type="radio" name="eval_radio" id="eval_radio_singular"/>Singular</a></li>
	</ul>
      </li>
      <li><a href="#" id="menu_settings">Settings</a></li>
      {% else %}
      <li><a href="/">Run</a></li>
      <li><a href="/">Settings</a></li>
      {% endif %}

      <li><a href="{{ about_url }}">About</a></li>
      {% if logged_in %}
      <li class="right"><a href="/">{{ nickname }}</a>
        <ul>
          <li><a href="{{ logout_url }}">Logout</a></li>
        </ul>
      </li>
      {% else %}
      <li class="right"><a href="/">Anonymous</a>
        <ul>
          <li><a href="{{ login_url }}">Login</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul id=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    <script>
      jQuery('#flashes').delay(3000).slideUp(1000, SagePad.resize);
    </script>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

  </body>
</html>

