{% extends "layout.html" %}


{% block title %}Load existing pad...{% endblock %}


{% block menu %}
<li><a href="{{ home_url }}">Back</a></li>
<li><a href="{{ about_url }}">About</a></li>
{% endblock %}   


{% block content %}
<table id="load">
  <thead>
    <tr>
      <th>Title</th>
      <th>Last seen</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for pad in pads %}
    <tr>
      <td class="title">
	<a href="{{ url_for('pad', pad_id=pad.get_id_str()) }}">{{ pad.get_title() }}</a>
      </td>
      <td>{{ pad.pretty_mtime() }}</td>
      <td class="icon">
	<a href="{{ url_for('delete_pad', pad_id=pad.get_id_str()) }}">
	  <img src="{{ url_for('static', filename='icons/trash.png') }}" alt="delete"/>
	</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
